@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
@import "tailwindcss";

/* @tailwind base;
@tailwind components; */
@tailwind utilities; 


/* Fonts */
@layer utilities {
    .font-jersey {
        font-family: 'Jersey 20', sans-serif;
    }
}

@layer utilities {
    .font-tungsten {
        font-family: 'Tungsten', sans-serif;
    }
}

@layer utilities {
  .font-inter {
      font-family: 'Inter', sans-serif;
  }
}


/* Scrollbar hidden in elements utlity classes */
@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

html {
    /* overflow-y: hidden; */
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}

.nav-options {
  padding: 26px 10px;
  margin-inline: 10px;
  transition: .3s;
}

section {
  min-height: 100vh;
  /* align-items: center;
  justify-items: center; */
}

/* @media (prefers-reduced-motion) {

} */

.slide-animate-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.6s ease, transform 0.6s ease; 
}

.slide-animate-right.show {
  opacity: 1;
  transform: translateX(0);
}

.slide-animate-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.slide-animate-left.show {
  opacity: 1;
  transform: translateX(0);
}



/* section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
} */