@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
@import "tailwindcss";


/* @tailwind base;
@tailwind components; */
/* @tailwind utilities;  */

@theme {
  /* --color-*: initial; */
  --color-ivory: #F3F0E8;
  --color-gold: #D4AA7D;
  --color-caramel: #B98857;
  --color-cinnamon: #9E7153;
  --color-rose: #A76571;
  --color-gray: #5E5E5E;
  --color-dark: #2E2927;
  --color-slate:  #2B2E35;
  --color-carbon: #272727;
  /* --color-gold: #; */
  
}

/* Define the keyframes normally */
 @keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
} 

/* Add the animation as a utility class */
 @layer utilities {
  .animate-infinite-scroll {
    animation: infinite-scroll 20s linear infinite;
  }
}

/* Fonts */
@layer utilities {
    .font-jersey {
        font-family: 'Jersey 20', sans-serif;
    }
}

@layer utilities {
    .font-tungsten {
        font-family: 'Tungsten', sans-serif;
    }
}

@layer utilities {
  .font-inter {
      font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .font-consolas {
    font-family: 'Consolas', monospace;
  }
}


/* Scrollbar hidden in elements utlity classes */
@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

html {
    /* overflow-y: hidden; */
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}

.nav-options {
  padding: 26px 10px;
  margin-inline: 10px;
  transition: .3s;
}

section {
  min-height: 100vh;
  /* align-items: center;
  justify-items: center; */
}

/* @media (prefers-reduced-motion) {

} */

.slide-animate-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.6s ease, transform 0.6s ease; 
}

.slide-animate-right.show {
  opacity: 1;
  transform: translateX(0);
}

.slide-animate-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.slide-animate-left.show {
  opacity: 1;
  transform: translateX(0);
}

/* Navbar Dropdown Test */

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #B98857;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-link {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
